*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    text-align: center;
}
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}
.progress-container::before{
    content: "";
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}
.circle{
    background-color: #fff;
    color:#999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:3px solid #e0e0e0;
    line-height: 1.7;
}
.progress{
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}
.circle.active{
    border: 3px solid #3498db;
}
.btn{
    background-color: #3498db;
    padding: .5rem 2rem;
    margin: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 8px;   
}
.btn:disabled{
    background-color: #e0e0ee;
    cursor: not-allowed;
}